@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;500;600;900&display=swap');


.meet-container {
  background: linear-gradient(to right, #3e3244, #a57abc 35%, #a57abc 60%,  #3e3244);  display: flex;
  flex-direction: row;
  padding-top: 3em;
  padding-left: 2em;
  padding-bottom: 5em;
}

.meet-text {
  width: 40%;
  margin-left: 5em;
  margin-right: 2em;
  text-align: left;
}

.meet-text > h1 {
  color: white;
  text-shadow:
  0px 3px 5px rgb(92, 17, 125) 
}

.meet-text > p {
  color: white;
  font-family: 'Noto Sans JP';
  font-size: 20px;
  font-weight: 400;
}

.btn-container-meet {
  display: flex;
  flex-direction: row;
  
}

.bold {
  font-weight: 800;
}

.image-container {
  position: relative;
  width: 70%;
}

.token-pic {
  position: relative;
  width: 62%;
  height: 450px;
  border-radius: 25px;
  margin-left: 20em;
  overflow: hidden;
}

.img-bg {
  position: absolute;
  top: 80;
  left: 0;
  width: 50%;
  height: 160%;
  background-image: url('../chad.jpg');
  background-size: cover;
  border-radius: 25px;
  opacity: 0.5;
  /* filter: grayscale(100%); */
}

.img-bg-meet {
  position: absolute;
  top: 80;
  left: 0;
  width: 50%;
  height: 160%;
  background-image: url('../token.jpg');
  background-size: cover;
  border-radius: 25px;
  opacity: 0.5;
}


.image-container >img {
  display: block;
  max-width: 100%;
}


@media (max-width: 767px) {
  .meet-container {
    flex-direction: column;
    padding: 3em 1em 5em 1em;
  }

  .meet-text {
    width: 100%;
    margin: 0;
    margin-top: 5em;
  }

  .meet-text > p {
    font-size: 18px;
  }

  .btn-container-meet {
    flex-direction: column;
    margin-top: 1em;
  }
  
  .img-bg-meet {
    width: 100%;
    height: 55%;
    
  }

  .img-bg {
    width: 100%;
    height: 55%;
  }

  .token-pic {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 2.5em !important;
    display: block;
  }
}